footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  padding: 10px 0;
}

.gradient-box {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  background-size: cover;
  color: white;
}

.animated-footer {
  background: linear-gradient(270deg, #000000, #3d2b1f, #b8860b, #000000);
  background-size: 600% 600%;
  animation: goldPulse 10s ease infinite;
  color: white;
}

@keyframes goldPulse {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}